@charset "UTF-8";

body {font-family: Arial, Helvetica, sans-serif, 돋움; }

#mycontainer 

#mysideinfo { position:absolute; float:left; width:5%; min-height:100%; background-color: #626363; }

#mycontent { float:right; width:95%; height: 900px; overflow-x:hidden; overflow-y:auto;  }

#mycontent::after {
  dispaly: block;
  content: '';
  clear: both;
}

#mysideinfo a {text-decoration:none;}