@charset "UTF-8";

body { font-family: Arial, Helvetica, sans-serif, 돋움; }

#mycontainer { display:flex; } 

#mysideinfo { position:absolute; margin-right:auto; width:5%; min-height: 1024px; background-color: #626363; }

<<<<<<< HEAD
#mycontent { 
	margin-left:auto; 
	width:95%; 
	max-height: 700px;
=======
#menu { margin-right: auto; width: 5%; }

#mycontent { 
	margin-left:auto; 
	width:95%; 
	max-height: 1000px;
>>>>>>> refs/heads/main
	overflow-y: auto; 
	scrollbar-width: none;
	-ms-overflow-style: none; 
}
    
#mycontent::-webkit-scrollbar {
    display: none;
}

#mysideinfo a { text-decoration:none; }

